{% extends 'web/layouts/base.html' %}

{% block content %}
<h1>LuftDruck</h1>

        <div class="mb-3">
            <form method="post" action="">
                {% csrf_token %}
                {{ form }}
                <br>
                <input type="submit" value="Filter...">
            </form>
        </div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Luftdruck</th>
      <th scope="col">Room</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for temp in temp_list %}
        <tr>
          <th scope="row">{{ temp.id }}</th>
          <td>{{ temp.luftdruck }}</td>
          <td>{{ temp.sensor.sen_raum }}</td>
          <td>{{ temp.datum }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
